.vizContainer {
  display: grid;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: 5% auto 5%;

  justify-content: center;
  align-items: center;
  margin-bottom: 15em;
}

.viz {
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  height: auto;
  justify-self: stretch;
  align-self: stretch;
}

/* GRAPH LABELS */

.label {
  text-align: center;
  text-shadow: 1px 1px white;
  z-index: 1;
  user-select: none;
}

.top,
.bottom {
  grid-column: 2;
  max-width: 28em;
  margin: 0 auto;
}

.top {
  grid-row: 1;
  padding-top: 2em;
  align-self: start;
}

.bottom {
  grid-row: 3;
  padding-bottom: 2em;
  align-self: end;
}

.left,
.right {
  width: 8em;
}

.left {
  grid-row: 2;
  grid-column: 1;
  justify-self: start;
  transform: translate(-2em);
}
.right {
  grid-row: 2;
  grid-column: 3;
  justify-self: end;
  transform: translate(2em);
}
/* SCATTERPLOTS */

.dot {
  stroke: var(--svg-defaultdotcolor);
  stroke-linecap: round;
}

.dot:hover {
  stroke-opacity: 1;
}

.brushed {
  stroke-opacity: var(--scatterplot-highlight-opacity);
  stroke: var(--scatterplot-highlight-color);
}

.notbrushed {
  stroke-opacity: 0.04;
}

.inRange {
  stroke-opacity: var(--scatterplot-highlight-opacity);
}

/* density-scatterplot */
.densityline {
  fill: none;
  stroke: #444;
  stroke-width: 1.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*  CONTOUR PLOTS */

.contourPath {
  fill: none;
  stroke: #444;
  stroke-linejoin: round;
}

.savebtn {
  position: relative;
  top: 5em;
  right: 0;
}

@media only screen and (max-device-width: 414px) {
  .label {
    font-size: 0.9em;
  }

  .top,
  .bottom {
    width: 14em;
  }
  .top {
    transform: translate(0, -4em);
  }
  .bottom {
    transform: translate(0, 4em);
  }
  .right,
  .left {
    justify-self: inherit;
    width: 24em;
    transform: translate(-11.5em) rotate(270deg);
  }
  .vizContainer {
    grid-template-rows: 10% auto 10%;
    /* grid-template-columns: 10% auto 10%; */
  }
}
