.vizContainer {
  position: relative;
  width: 100%;
  max-width: 90vh;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.viz {
  width: 100%;
  height: auto;
}

/* GRAPH LABELS */

.label {
  position: absolute;
  text-align: center;
  text-shadow: -1px -1px white, -1px 1px white, 1px 1px white, 1px -1px white;

  user-select: none;
  /* border: 1px solid blue; */
}

.top,
.bottom {
  max-width: 28em;
}

.top {
  bottom: 85%;
  left: 50%;
  transform: translate(-50%);
}

.bottom {
  top: 85%;
  left: 50%;
  transform: translate(-50%);
}

.left {
  top: 50%;
  right: 85%;
  transform: translate(0, -50%);
}
.right {
  top: 50%;
  left: 85%;
  transform: translate(0, -50%);
}

/* SCATTERPLOTS */

.dot {
  stroke: var(--svg-defaultdotcolor);
  stroke-linecap: round;
}

.dot:hover {
  stroke-opacity: 1;
}

.brushed {
  stroke-opacity: var(--scatterplot-highlight-opacity);
  stroke: var(--scatterplot-highlight-color);
}

.notbrushed {
  stroke-opacity: 0.04;
}

.inRange {
  stroke-opacity: var(--scatterplot-highlight-opacity);
}

/* density-scatterplot */
.densityline {
  fill: none;
  stroke: #444;
  stroke-width: 1.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/*  CONTOUR PLOTS */

.contourPath {
  fill: none;
  stroke: #444;
  stroke-linejoin: round;
}

.savebtn {
  position: relative;
  top: 5em;
  right: 0;
}

svg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-anchor: middle;
  dominant-baseline: central;
}

@media only screen and (max-device-width: 414px) {
  .vizContainer {
    width: 95%;
  }
  .label {
    font-size: 0.9em;
  }

  .right,
  .left {
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }
  .left {
    right: 80%;
  }
  .right {
    left: 80%;
  }

  svg {
    font-size: 2.5rem;
  }
}
