.knobs {
  padding: 0 1rem;
  opacity: 1;
}

.knob {
  margin: 0.75rem 0 1rem 0;
}

.knob > div {
  margin: 0.5rem 0;
}

.labeledinput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.labeledinput > label {
  flex-basis: 10rem;
  white-space: nowrap;
}
.labeledinput > input,
.labeledinput > select {
  max-width: var(--slider-width);
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

@media only screen and (max-device-width: 414px) {
  .knobs {
    padding: 0 0.5rem;
  }
  .knob > label {
    padding-left: 1rem;
  }
  .labeledinput > label {
    margin-bottom: 0.5em;
    flex-basis: initial;
    white-space: nowrap;
  }

  .labeledinput > input,
  .labeledinput > select {
    max-width: 90%;
    margin: 0 auto;
  }
}
