:root {
  --content-lr-padding: calc((100% - var(--content-width)) / 2);
  --knobs-font-size: 0.75rem;
}

.knobs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--background-color);
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-image: url(../assets/little_wave_template.png) 18 0 18 0 repeat;
  z-index: 500;

  transition: top 200ms ease;
  padding: 0.5rem var(--content-lr-padding);
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

.knob,
.subknob {
  /* border: 1px solid blue; */
  font-size: var(--knobs-font-size);
  grid-column: 1 / 2;
  justify-self: start;
  width: 100%;
}

.subknob {
  padding-left: 2rem;
}

.labeled-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.5rem 0; */
}

.labeled-input > label {
  flex-basis: 15ch;
  white-space: nowrap;
  margin-right: 1em;
}

.labeled-input > input {
  flex-grow: 1;
}
.labeled-input > select {
  /* flex-shrink: 1; */
  /* max-width: var(--slider-width); */
  font-size: var(--knobs-font-size);
}

.labeled-checkbox {
  text-indent: -1.4rem;
  padding-left: 1.4rem;
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

.show-hide {
  text-decoration: underline;
  cursor: pointer;
  grid-row: 1;
  text-align: center;
  user-select: none;
}

.show-hide,
.reset-btn {
  font-size: var(--knobs-font-size);
  justify-self: end;
  grid-column: 2 / 3;
}

.reset-btn > button {
  font-size: var(--knobs-font-size);
}

@media only screen and (max-device-width: 414px) {
  .knobs {
    position: static;
    padding: 0 0.5rem;
  }

  .chooseresp {
    padding-left: inherit;
  }
  .knob > label {
    padding-left: 1rem;
  }

  .labeled-input > label {
    margin-bottom: 0.5em;
    flex-basis: 2rem;
    white-space: nowrap;
  }

  .labeled-input > input,
  .labeled-input > select {
    max-width: 90%;
    margin: 0 auto;
  }

  .show-hide {
    display: none;
  }
}
