.knobs {
  position: fixed;
  bottom: calc(100% - 2.4rem);
  left: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: var(--background-color);
  border-bottom: 18px solid transparent;
  border-image: url(../assets/little_wave_line.png) 100 repeat;
  z-index: 500;
  transition: bottom 100ms ease-in;
}

.knobs * {
  font-size: 0.8rem;
}

.showhide {
  position: absolute;
  top: calc(100% - 1.4rem);
  bottom: -1rem;
  left: 0;
  right: 0;
  padding-top: 0.2rem;
  text-align: center;
  user-select: none;
}
.showhide a {
  color: black;
}

.showbar {
  position: fixed;
  height: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.2rem 0.2rem;
  border-bottom: 18px solid transparent;
  border-image: url(../assets/little_wave_line.png) 100 repeat;
}
.showbar p {
  background: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

.knob {
  margin: 0.75rem 0 1rem 0;
}

.knob > div {
  margin: 0.5rem 0;
}

.lang-swap {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.labeledinput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.chooseresp {
  padding-left: 2rem;
}

.graphselect {
  padding-left: inherit;
}
.graphselect > label {
  flex-basis: 12rem !important;
}

.labeledinput > label {
  flex-basis: 10rem;
  white-space: nowrap;
}
.labeledinput > input,
.labeledinput > select {
  max-width: var(--slider-width);
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

@media only screen and (max-device-width: 414px) {
  .knobs {
    position: static;
    padding: 0 0.5rem;
  }

  .lang-swap {
    position: static;
  }

  .chooseresp {
    padding-left: inherit;
  }
  .knob > label {
    padding-left: 1rem;
  }

  .labeledinput > label {
    margin-bottom: 0.5em;
    flex-basis: 2rem;
    white-space: nowrap;
  }

  .labeledinput > input,
  .labeledinput > select {
    max-width: 90%;
    margin: 0 auto;
  }
}
