.knobs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  background-color: var(--background-color);
  border-bottom: 18px solid transparent;
  border-image: url(../assets/little_wave_line.png) 100 repeat;
  z-index: 100;
}

.knob {
  margin: 0.75rem 0 1rem 0;
}

.knob > div {
  margin: 0.5rem 0;
}

.lang-swap {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.labeledinput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.labeledinput > label {
  flex-basis: 10rem;
  white-space: nowrap;
}
.labeledinput > input,
.labeledinput > select {
  max-width: var(--slider-width);
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

@media only screen and (max-device-width: 414px) {
  .knobs {
    position: static;
    padding: 0 0.5rem;
  }

  .lang-swap {
    position: static;
  }

  .knob > label {
    padding-left: 1rem;
  }

  .labeledinput > label {
    margin-bottom: 0.5em;
    flex-basis: 2rem;
    white-space: nowrap;
  }

  .labeledinput > input,
  .labeledinput > select {
    max-width: 90%;
    margin: 0 auto;
  }
}
