:root {
  --content-lr-padding: calc((100% - var(--content-width)) / 2);
}

.knobs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem 1rem;

  background-color: var(--background-color);
  border-bottom: 18px solid transparent;
  border-image: url(../assets/little_wave_line.png) 100 repeat;
  z-index: 500;

  transition: top 200ms ease;
}

.knobs * {
  font-size: 0.8rem;
}

.knob,
.subknob {
  max-width: var(--content-width);
  margin: 0 auto 0.5rem;
}

.subknob {
  padding-left: 2rem;
}

.labeled-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0;
}

.labeled-input > label {
  flex-basis: 12rem;
  white-space: nowrap;
}

.subknob > .labeled-input > label {
  flex-basis: 10rem;
}

.labeled-input > input,
.labeled-input > select {
  max-width: var(--slider-width);
}

.labeled-checkbox {
  text-indent: -1.4rem;
  padding-left: 1.4rem;
}

input[type="checkbox"] {
  margin-right: 0.4rem;
}

.showhide {
  position: absolute;
  top: calc(100% - 1.2rem);
  bottom: -1rem;
  left: 0;
  right: 0;
  padding-top: 0.2rem;
  text-align: center;
  user-select: none;
}

.lang-swap {
  position: absolute;
  top: 0.5rem;
  right: var(--content-lr-padding);
}

@media only screen and (max-device-width: 414px) {
  .knobs {
    position: static;
    padding: 0 0.5rem;
  }

  .lang-swap {
    position: static;
  }

  .chooseresp {
    padding-left: inherit;
  }
  .knob > label {
    padding-left: 1rem;
  }

  .labeled-input > label {
    margin-bottom: 0.5em;
    flex-basis: 2rem;
    white-space: nowrap;
  }

  .labeled-input > input,
  .labeled-input > select {
    max-width: 90%;
    margin: 0 auto;
  }

  .showhide {
    display: none;
  }
}
