:root {
}
.results {
}

.en-fr {
  display: inline-block;
  background: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}

.en-fr > span {
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.2;
}

.intro {
  position: relative;
  background: var(--background-primary);
  z-index: 600;
}

.intro,
footer > section {
  padding: 0.25rem calc((100% - var(--content-width)) / 2);
  padding-bottom: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.intro h1,
footer h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 1em 0;
}

.intro p,
footer p {
  font-size: 1.4rem;
}

footer > section,
.maps {
  border-bottom: var(--wavy-border-top-bottom);
  border-image: var(--wavy-border-image);
}

.map {
  margin: 5rem 0;
  padding: 0 1rem;
}

.maptitle,
.mapdescription {
  max-width: var(--content-width);
  margin: 0 auto;
}
.maptitle {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.maptitle div:nth-child(1) {
  white-space: nowrap;
  text-align: left;
}
.maptitle div:nth-child(2) {
  text-align: right;
}

.mapviz {
  max-width: 55rem;
  margin: 6rem auto;
}

footer {
  font-family: "Times New Roman", Times, serif;
  color: white;
  background: var(--background-primary);
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 414px) {
  .intro,
  section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .intro h1,
  section h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1.2rem;
  }

  .map {
    margin-bottom: 1rem;
    user-select: none;
    padding: 0 0.5rem;
  }

  .maptitle {
    display: block;
  }

  .maptitle div:nth-child(2) {
    text-align: left;
  }

  .mapdescription {
    text-align: justify;
  }

  .mapviz {
    max-width: 100%;
    margin: 7rem auto;
  }

  footer > section {
    /* width: 100vw; */
    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  section > h1 {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    /* word-break: break-all; */
  }
}
