.results {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.intro {
  color: #993300;
  padding-top: 2rem;
  padding-bottom: 8rem;
  margin-bottom: 8rem;
  background: linear-gradient(
    #faa687 0%,
    #faa687 85%,
    var(--background-color) 100%
  );
}

.intro h1,
.intro p {
  max-width: var(--content-width);
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

.intro h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.intro p {
  font-size: 1.4rem;
}

.map {
  margin-bottom: 5rem;
  user-select: none;
}

.maptitle {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.maptitle div:nth-child(1) {
  white-space: nowrap;
  text-align: left;
}
.maptitle div:nth-child(2) {
  text-align: right;
}

.mapdescription {
  margin-bottom: 6rem;
}

.maptitle,
.mapdescription {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 414px) {
  .intro {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .intro h1,
  .intro p {
    max-width: initial;
  }
  .intro h1 {
    max-width: initial;
    font-size: 2rem;
  }
  .intro p {
    /* text-align: justify; */
    font-size: 1.2rem;
  }

  .map {
    margin-bottom: 1rem;
    user-select: none;
    padding: 0 0.5rem;
  }

  .maptitle,
  .mapdescription {
    max-width: initial;
  }

  .mapdescription {
    text-align: justify;
  }

  .mapviz {
  }
}
