:root {
}
.results {
}

.en-fr {
  display: inline-block;
  background: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}

.en-fr > span {
  text-decoration: underline;
  cursor: pointer;
  line-height: 1.2;
}

.intro {
  position: relative;
  background: var(--background-primary);
  z-index: 600;
}

.intro,
footer {
  padding: 2rem calc((100% - var(--content-width)) / 2);
}

.intro h1,
.intro p,
footer h2,
footer p {
  /* max-width: var(--content-width); */
  margin: 0 auto;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.intro h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 1em 0;
}

.intro p,
footer p {
  font-size: 1.4rem;
}

.map {
  margin: 5rem 0;
  padding: 0 1rem;
}

.maptitle {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.maptitle div:nth-child(1) {
  white-space: nowrap;
  text-align: left;
}
.maptitle div:nth-child(2) {
  text-align: right;
}

.mapdescription {
  margin-bottom: 6rem;
}

.maptitle,
.mapdescription {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.mapviz {
  max-width: 55rem;
  margin: 0 auto 14rem;
}

footer {
  position: relative;
  min-height: 90rem;
  /* background: linear-gradient(
    var(--background-color),
    var(--background-primary) 25%
  ); */
  background: var(--background-primary);
}
footer > div {
  position: relative;
  z-index: 100;
}
footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Draw_rectangle_transparency.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 414px) {
  .intro {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro p {
    font-size: 1.2rem;
  }

  .map {
    margin-bottom: 1rem;
    user-select: none;
    padding: 0 0.5rem;
  }

  .maptitle {
    display: block;
  }

  .maptitle div:nth-child(2) {
    text-align: left;
  }

  .maptitle,
  .mapdescription {
    max-width: initial;
  }

  .mapdescription {
    text-align: justify;
  }

  .mapviz {
    width: 100%;
    margin-bottom: 10rem;
  }

  footer {
    padding-top: 5rem;
  }

  footer > div {
    position: static;
    /* right: 5rem;
    bottom: 10rem;
    max-width: 40rem;
    z-index: 100; */
  }

  footer::after {
    background-size: 50%;
  }
}
