input[type="range"] {
  -webkit-appearance: none;
  max-width: var(--track-width);
  margin: 0.2rem 0;
}

input[type="range"]:disabled {
  opacity: 0.25;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: var(--track-width);
  height: 5px;
  cursor: pointer;
  background: var(--track-color);
  border-radius: var(--track-radius);
  border: 0 solid none;
}
input[type="range"]::-webkit-slider-thumb {
  border: 0 solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 0;
  background: #303030;
  cursor: ew-resize;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #9f9f9f;
}
input[type="range"]::-moz-range-track {
  width: var(--track-width);
  height: 5px;
  cursor: pointer;
  background: var(--track-color);
  border-radius: var(--track-radius);
  border: 0 solid none;
}
input[type="range"]::-moz-range-thumb {
  border: 0 solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 0;
  background: #303030;
  cursor: ew-resize;
}
input[type="range"]::-ms-track {
  width: var(--track-width);
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #1f1f1f;
  border: 0 solid none;
  border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--track-color);
  border: 0 solid none;
  border-radius: 5px;
}
input[type="range"]::-ms-thumb {
  border: 0 solid #000000;
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: 0;
  background: #303030;
  cursor: ew-resize;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--track-color);
}
input[type="range"]:focus::-ms-fill-upper {
  background: #9f9f9f;
}

input[type="range"]:disabled {
  opacity: 0.25;
}
