@font-face {
  font-family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-Regular-102.woff")
      format("woff"),
    url("./assets/fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
    url("./assets/fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-Italic-102.woff")
      format("woff"),
    url("./assets/fonts/Atkinson-Hyperlegible-Italic-102.ttf") format("ttf");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff")
      format("woff"),
    url("./assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* ==========================================================================
    Base styles: opinionated defaults
    ========================================================================== */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Atkinson";
}

/*
		* Remove text-shadow in selection highlight:
		* https://twitter.com/miketaylr/status/12228805301
		*
		* Vendor-prefixed and regular ::selection selectors cannot be combined:
		* https://stackoverflow.com/a/16982510/7133471
		*
		* Customize the background color to match your design.
		*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
		* A better looking default horizontal rule
		*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
		* Remove the gap between audio, canvas, iframes,
		* images, videos and the bottom of their containers:
		* https://github.com/h5bp/html5-boilerplate/issues/440
		*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* App specific */

:root {
  --background-color: white;
  --text-color: black;

  --slider-contrast: 25%;
  --track-width: 95%;
  --track-height: 5px;
  --track-radius: 2.5px;
  --track-color: #5f5f5f;

  --thumb-width: 20px;
  --thumb-height: 20px;
  --thumb-color: #303030;

  --scatterplot-highlight-color: black;
  --scatterplot-highlight-opacity: 1;

  --svg-defaultdotsize: 23;
  --svg-defaultdotopacity: 0.2;
  --svg-defaultdotcolor: rgb(29, 29, 29);
  --svg-canvaswidth: 1000;
  --svg-canvasheight: 800;
  --svg-canvasmargintop: 40;
  --svg-canvasmarginright: 40;
  --svg-canvasmarginbottom: 40;
  --svg-canvasmarginleft: 40;
}

html,
body {
  font-family: "Atkinson";
  font-weight: normal;
  font-size: 110%;
  background-color: var(--background-color);
  color: var(--text-color);
}

@import "rangeslider.css";

select {
  margin: 0.2em 1em;
  font-size: 1em;
}

#app {
  height: 100%;
}

.container {
  height: 100%;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width: 414px) {
}
